<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appreporte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".codigo_logica_login.AppReporteApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppReporte">

        <activity
            android:name=".codigo_vista_pantalla_login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".codigo_vista_pantalla_login.LoadingActivity"
            android:exported="false" />
            
        <activity
            android:name=".codigo_vista_pantalla_login.SuperAdminDashboardActivity"
            android:exported="false"
            android:label="Panel Súper Administrador" />

        <activity
            android:name=".codigo_vista_pantalla_padre.DirectChatActivity"
            android:exported="false"
            android:label="Chat" />

        <activity
            android:name=".codigo_vista_pantalla_padre.PadreDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_login.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_login.InicioActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_docente.DocenteDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_padre.ForoSalonesActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_padre.ForoDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_padre.PostDetalleActivity"
            android:exported="false"
            android:label="Comentarios"
            android:theme="@style/Theme.AppReporte" />

        <!-- Pantalla del Chatbot con su nombre oficial -->
        <activity
            android:name=".codigo_vista_pantalla_padre.ChatbotPadreActivity"
            android:exported="false"
            android:label="Asistente EduConnect" />

        <activity
            android:name=".codigo_vista_pantalla_padre.ForoActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_padre.AsistenteActivity"
            android:exported="false" />

        <activity
            android:name=".codigo_vista_pantalla_docente.GestionAlumnosSalonesActivity"
            android:exported="false"
            android:label="Seleccionar Salón" />

        <activity
            android:name=".codigo_vista_pantalla_docente.AlumnosListaActivity"
            android:exported="false"
            android:label="Lista de Alumnos" />

        <activity
            android:name=".codigo_vista_pantalla_docente.GestionReportesSalonesActivity"
            android:exported="false"
            android:label="Reportes por Salón" />

        <activity
            android:name=".codigo_vista_pantalla_docente.AlumnosReporteListaActivity"
            android:exported="false"
            android:label="Asignar Notas" />

        <activity
            android:name=".codigo_vista_pantalla_login.MapSelectionActivity"
            android:exported="false"
            android:label="Seleccionar Ubicación" />

        <activity
            android:name=".codigo_vista_pantalla_login.PerfilActivity"
            android:exported="false"
            android:label="Mi Perfil" />

        <activity
            android:name=".codigo_vista_pantalla_padre.PadreReporteActivity"
            android:exported="false"
            android:label="Mis Reportes" />

        <activity
            android:name=".codigo_vista_pantalla_padre.ComplaintsActivity"
            android:exported="false"
            android:label="Gestión de Quejas" />

        <activity
            android:name=".codigo_vista_pantalla_docente.DocenteHorarioActivity"
            android:exported="false"
            android:label="Mi Horario" />

        <activity
            android:name=".codigo_vista_pantalla_docente.DocenteAsistenciaActivity"
            android:exported="false"
            android:label="Tomar Asistencia" />

        <activity
            android:name=".codigo_vista_pantalla_padre.PadreHorarioActivity"
            android:exported="false"
            android:label="Horario del Alumno" />

        <activity
            android:name=".codigo_vista_pantalla_padre.PadreAsistenciaActivity"
            android:exported="false"
            android:label="Historial de Asistencia" />

        <activity
            android:name=".codigo_vista_pantalla_login.NotificacionesActivity"
            android:exported="false"
            android:label="Notificaciones" />

        <service
            android:name=".codigo_logica_login.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC44CgQz3e3zl2eKi3Rm6s-xRnutAAzasY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>